<html>
<head>
    {{>header}}
</head>
    {{^user}}
<body class="container text-dark">  
  <a id="login" href="/register" class="btn btn-primary mt-1 mr-1 mb-1">
    Register
  </a>
  <a id="login" href="/login" class="btn btn-primary mt-1 mr-1 mb-1">
    Sign in
  </a>
{{/user}}
{{#user}}
  <a id="logout" href="/logout" class="btn btn-primary mt-1 mr-1 mb-1">
    Sign out
  </a>
{{/user}}
{{#user}}
<div class="text-right">
    <a id="View Food Items" href="/adminfood" class="btn btn-primary mt-1 mr-1 mb-1">
   View Food Items
  </a>
<a id="Process Deposit of Food Items" href="/deposit" class="btn btn-primary mt-1 mr-1 mb-1">
   Process Deposit of Food Items
  </a>
  <a id="Process Collection of Food Items" href="/collect" class="btn btn-primary mt-1 mr-1 mb-1">
   Process Collection of Food Items
  </a>
<a id="Remove Food" href="/remove" class="btn btn-primary mt-1 mr-1 mb-1">
Remove Out of Date Food Item
</a>
<br>
<a id="Donate Food" href="/newfood" class="btn btn-primary mt-1 mr-1 mb-1">
Donate Food Item
</a>
  <a id="addUser" href="/adminPostNewUser" class="btn btn-primary mt-1 mr-1 mb-1">
    Add user
  </a>
</a>
  <a id="deleteUser" href="/deleteUser" class="btn btn-primary mt-1 mr-1 mb-1">
    Delete user
  </a>
{{/user}}
</div>
<h1>{{title}}</h1>
<h2>Add users</h2>
<div class="card">
    <div class="card-body">
          <h4 class="card-title">Add new user</h4>
   <form method="post" action="/adminPostNewUser">
    <div class="form-group">
        {{user-name-error}}
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name" required>
    </div>
   <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" name="role" id="role" required>
            <option value="normalUser">User</option>
            <option value="pantryUser">Pantry</option>
            <option value="admin">Admin</option>
        </select>
    </div>
    <div class="form-group">
        <label for="password">Password (8 characters minimum)</label>
        <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter password" minlength="8" required>
    </div>
    <div class="form-group">
        <input type="submit" id="register" value="Register" class="btn btn-primary mt-1 mr-1 mb-1">
    </div>
</form>

    </div>
  </div>
</div>
{{#errors}}
<div class="alert alert-danger" role="alert" id="error-group" >
<ul id="errors"> {{msg}} </ul>
</div>
{{/errors}}
</body>
<footer>
{{>footer}}
</footer>
</html>