<html>
<head>
    {{>header}}
</head>
<body class="container">
<a id="Donate Food" href="/newfood" class="btn btn-primary">
Donate Food Item
</a>
    <a id="logout" href="/logout" class="btn btn-primary">
        Sign out
</a>
<div> Food Items selected</div>
</body>
</html>