<html>
<head>
    {{>header}}
</head>
<body class="container">
<a id="View Food Items" href="/loggedIn" class="btn btn-primary">
   View Food Items
</a>
<a id="Donate Food" href="/newfood" class="btn btn-primary">
Donate Food Item
</a>
    <a id="logout" href="/logout" class="btn btn-primary">
        Sign out
</a>
<div> Food Item(s) Collected </div>
</body>
</html>