<html>
<head>
    {{>header}}
</head>
<body>
    <h1>{{title}}</h1>
    {{#foodEntries}}
<div>    
    <h4> <a href="/pantry/{{foodType}}">{{foodType}}</a> </h4>
</div>    
<p>
{{quantity}}
</p>
<p>
{{harvestDate}}
</p>

<div>
<p>Donated by {{donator}} ,  deposited on {{depositDate}}</p>
</div>
{{/foodEntries}}
{{^foodEntries}}
No Food Donations Available yet.
{{/foodEntries}}
</body>
<footer>
{{>footer}}
</footer>
</html>
