<html>
<head>
    {{>header}}
</head>
<body class="container">
<div class="text-right" style="margin-bottom: 1em;">
 <a id="View Deposited Food Items" href="/pantry" class="btn btn-primary">
   View  Deposited Food Items
  </a>
   <a id="Select Food Items" href="/select" class="btn btn-primary">
    Select Food Items
  </a>
<a id="Donate Food" href="/newfood" class="btn btn-primary">
Donate Food Item
</a>
    <a id="logout" href="/logout" class="btn btn-primary">
        Sign out
</a>
</div>
<div> Food Items selected</div>
</body>
</html>