<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <title>{{title}}</title>
<div class="text-right">
<a href="/newfood" class="btn btn-primary">
Donate food item
</a>
</div>