<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
    {{^user}}
<body class="container text-dark"> 
  <a id="login" href="/register" class="btn btn-primary mt-1 mr-1 mb-1">Register</a>
  <a id="login" href="/login" class="btn btn-primary mt-1 mr-1 mb-1">Sign in</a>
{{/user}}
{{#user}}
  <a id="logout" href="/logout" class="btn btn-primary mt-1 mr-1 mb-1">Sign out</a>
{{/user}}
    <h1>Welcome to the Scottish Pantry Network Site</h1>
<p>Any food you can donate from you own growing, it would be greatly appreciated.</p>
<p>You must register as a user and be logged in to donate food items</p>
</body>
<footer>
{{>footer}}
</footer>
</html>