<html>
<head>
{{>header}}
</head>
<body class="container">
{{^user}}
  <a id="login" href="/register" class="btn btn-primary">
    Register
  </a>
  <a id="login" href="/login" class="btn btn-primary">
    Sign in
  </a>
{{/user}}
{{#user}}
  <a id="logout" href="/logout" class="btn btn-primary">
    Sign out
  </a>
{{/user}}
<h2>{{title'}}</h2>
    <form method="post" role="form" action="/newfood">
        <div class="form-group">
            <label for="Donator">Donator</label>
            <input type="text" class="form-control" id="donator" name="donator"
            placeholder="Donated by" required>
        </div>
        <div class="form-group">
            <label for="foodType">FoodType</label>
            <input type="text" class="form-control" id="foodType" name="foodType"
placeholder="Enter Type of Food" required>
</div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity"
            placeholder="Quantity of food" required>
        </div>
        <div class="form-group">
            <label for="harvestDate">HarvestDate</label>
            <input type="date" id="harvestDate" name= "harvestDate" class="form-control" name="harvestDate" data-fv-date-format='YYYY-MM-DD' 
            data-fv-date="true"
            placeholder="Enter Harvest Date YYYY-MM-DD" >
        </div>
        <div class="form-group">
            <input type="submit" value="Add Food Item" class="btn btn-primary">
        </div>
    </form>
</body>
</html>