<html>
<head>
{{>header}}
</head>
<body class="container text-dark">
{{^user}}
  <a id="login" href="/register" class="btn btn-primary mt-1 mr-1 mb-1">
    Register
  </a>
  <a id="login" href="/login" class="btn btn-primary mt-1 mr-1 mb-1">
    Sign in
  </a>
{{/user}}
{{#user}}
  <a id="logout" href="/logout" class="btn btn-primary mt-1 mr-1 mb-1">
    Sign out
  </a>
{{/user}}
<h2>{{title'}}</h2>
    <form method="post" role="form" action="/newfood">
        <div class="form-group">
            <label for="Donator">Donator</label>
            <input type="text" class="form-control" id="donator" name="donator"
            placeholder="Donated by" required>
        </div>
         <div class="form-group">
         <label for="foodType">FoodType</label>
        <select class="form-control" id="foodType" name="foodType" required>
            <option value="Apples">Apples</option>
            <option value="Cabbage">Cabbage</option>
            <option value="Carrots">Carrots</option>
            <option value="Cucumber">Cucumber</option>
            <option value="Onions">Onions</option>
            <option value="Pears">Pears</option>
            <option value="Plums">Plums</option>
            <option value="Potatoes">Potatoes</option>
            <option value="Raspberries">Raspberries</option>
            <option value="Strawberries">Strawberries</option>
            <option value="Tomatoes">Tomatoes</option>
             <option value="Other">Other</option>
        </select>
    </div>
           <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity"
            placeholder="Quantity of food" required>
        </div>
        <div class="form-group">
            <label for="harvestDate">HarvestDate</label>
            <input type="date" id="harvestDate" name= "harvestDate" class="form-control" name="harvestDate" data-fv-date-format='YYYY-MM-DD' 
            data-fv-date="true"
            placeholder="Enter Harvest Date YYYY-MM-DD" >
        </div>
        <div class="form-group">
            <input type="submit" id="add" value="Add Food Item" class="btn btn-primary mt-1 mr-1 mb-1">
        </div>
    </form>
</body>
</html>