<html>
<head>
    {{>header}}
</head>
<body class="container">
<div class="text-right" style="margin-bottom: 1em;">
{{^user}}
  <a id="login" href="/register" class="btn btn-primary">
    Register
  </a>
  <a id="login" href="/login" class="btn btn-primary">
    Sign in
  </a>
{{/user}}
{{#user}}
    <a id="View Food Items" href="/loggedIn" class="btn btn-primary">
   View Food Items
  </a>
   <a id="Select Food Items" href="/select" class="btn btn-primary">
    Select Food Items
  </a>
<a id="Donate Food" href="/newfood" class="btn btn-primary">
Donate Food Item
</a>
    <a id="logout" href="/logout" class="btn btn-primary">
        Sign out
</a>
{{/user}}
</div>
<h1>{{title}}</h1>
<div>
{{#users}}
  <div class="card">
    <div class="card-body">
          <h4 class="card-title">User name : {{user}}</h4>
          <p class="card-text">
              Role : {{role}}
          </p>
    </div>
  </div>
 {{/users}}
  </div>
</div>
</body>
</html>