<html>
<head>
    {{>header}}
</head>
    {{^user}}
<body class="container">  
  <a id="login" href="/register" class="btn btn-primary">
    Register
  </a>
  <a id="login" href="/login" class="btn btn-primary">
    Sign in
  </a>
{{/user}}
{{#user}}
  <a id="logout" href="/logout" class="btn btn-primary">
    Sign out
  </a>
{{/user}}
{{#user}}
<div class="text-right" style="margin-bottom: 1em;">
 <a id="View Deposited Food Items" href="/pantry" class="btn btn-primary">
   View Deposited Food Items
  </a>
   <a id="Select Food Items" href="/select" class="btn btn-primary">
    Select Food Items
  </a>
<a id="Donate Food" href="/newfood" class="btn btn-primary">
Donate Food Item
</a>
</div>
<h1> Welcome  {{username}} </h1>
<h3>{{title}}</h3>
{{/user}}
</div>
    {{#foodEntries}}
<div>    
    <h4> <a href="/pantry/{{foodType}}">{{foodType}}</a> </h4>
</div>    
<p>
{{quantity}}
</p>
<p>
{{harvestDate}}
</p>
<div>
<p>Donated by {{donator}} ,  deposited on {{depositDate}}</p>
</div>
{{/foodEntries}}
{{^foodEntries}}
No Food Donations Available yet.
{{/foodEntries}}
</body>
<footer>
{{>footer}}
</footer>
</html>