<html>
<head>
    {{>header}}
</head>
    {{^user}}
<body class="container">  
  <a id="login" href="/register" class="btn btn-primary">
    Register
  </a>
  <a id="login" href="/login" class="btn btn-primary">
    Sign in
  </a>
{{/user}}
{{#user}}
  <a id="logout" href="/logout" class="btn btn-primary">
    Sign out
  </a>
{{/user}}
{{#user}}
<div class="text-right" style="margin-bottom: 1em;">
 <a id="View Deposited Food Items" href="/pantry" class="btn btn-primary">
   View Deposited Food Items
  </a>
   <a id="Select Food Items" href="/select" class="btn btn-primary">
    Select Food Items
  </a>
<a id="Donate Food" href="/newfood" class="btn btn-primary">
Donate Food Item
</a>
</div>
{{/user}}
</div>
<h1>{{title}}</h1>
</body>
</html>