<html>
<head>
    {{>header}}
</head>
<body class="container text-dark">
<div class="text-right" style="margin-bottom: 1em;">
<a id="View Food Items" href="/adminfood" class="btn btn-primary mt-1 mr-1 mb-1">
   View Food Items
  </a>
<a id="Process Deposit of Food Items" href="/deposit" class="btn btn-primary mt-1 mr-1 mb-1">
   Process Deposit of Food Items
  </a>
  <a id="Process Collection of Food Items" href="/collect" class="btn btn-primary mt-1 mr-1 mb-1">
   Process Collection of Food Items
  </a>
<a id="Remove Food" href="/remove" class="btn btn-primary mt-1 mr-1 mb-1">
Remove Out of Date Food Item
</a>
<br>
<a id="Donate Food" href="/newfood" class="btn btn-primary mt-1 mr-1 mb-1">
Donate Food Item
</a>
  <a id="addUser" href="/adminPostNewUser" class="btn btn-primary mr-1 mb-1">
    Add user
  </a>
</a>
  <a id="deleteUser" href="/deleteUser" class="btn btn-primary mr-1 mb-1">
    Delete user
  </a>

    <a id="logout" href="/logout" class="btn btn-primary mr-1 mb-1">
        Sign out
</a>
</div>
<div> User added</div>
</body>
</html>