<html>
<head>
    {{>header}}
</head>
<body class="container">
<div class="text-right" style="margin-bottom: 1em;">
    <a id="View users" href="/admin" class="btn btn-primary">
    View users
    </a>
    <a id="View posts" href="/loggedIn" class="btn btn-primary">
    View posts
    </a>
    <a href="/new" class="btn btn-primary">
    Write in the guestbook
    </a>
    <a id="logout" href="/logout" class="btn btn-primary">
        Sign out
    </a>
</div>
<div> User added</div>
</body>
</html>