$body-bg: #f2f7f857;
$body-color: black;
$primary: #008080;
$bs-primary:#008080;
$bs-navbar-color:#008080;
$navbar-light-color: white;

$navbar-light-toggler-bg: white;


@import "../node_modules/bootstrap/scss/bootstrap";